/*body style */

body{
    font-size:14px;
    line-height: 1.42;
    color: #333333;
    background: #f0f0f0;
    overflow: hidden;
}

/* header style */

.navbar{
    background: #ffffff;
}
.navbar-collapse .right{
    float: right;
    
}
.navbar-brand{
    float: left;
    padding: 0px 0px;
    font-size: 10px;
    line-height: 20px;
    height: 40px;
}
.navbar-brand hover,
.navbar-brand:focus{
    text-decoration-color: none;
}
.navbar ul.nav > li > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.navbar ul.nav > li > a:hover{
    color:#000000;
    background: #ffffff;
}
.padding-nav{
    padding-top : 10px;
}